<div id="<%= dom_id projects_phase %>">
  <p>
    <strong>User:</strong>
    <%= projects_phase.user_id %>
  </p>

  <p>
    <strong>Phase:</strong>
    <%= projects_phase.phase_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= projects_phase.project_id %>
  </p>

  <p>
    <strong>Role user:</strong>
    <%= projects_phase.role_user %>
  </p>

</div>
