<div id="<%= dom_id important_date %>">
  <p>
    <strong>Date:</strong>
    <%= important_date.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= important_date.description %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= important_date.name %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= important_date.project_id %>
  </p>

</div>
