<div id="<%= dom_id phase %>">
  <p>
    <strong>Start date:</strong>
    <%= phase.start_date %>
  </p>

  <p>
    <strong>Finish date:</strong>
    <%= phase.finish_date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= phase.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= phase.description %>
  </p>

</div>
